.jumbotron{
	background-image: url(Img/happy/gradient.png);
}
body{
	background-color: #f0f;
}
.footer{
	background-color: black;
}
.jumbotron{
	background-image: url(img/bg.png);
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%
	height:100px;
	background-color: #333;

}

footer a{
	color: #aaa
	font-size: 0.9em;
}